------------------
Bastian Schnell                  <bastian.schnell@idiap.ch>
Bastian Schnell <bastian.schnell@idiap.ch>       <bastian.schnell@t-online.de>
François Marelli                 <francois.marelli@idiap.ch>
François Marelli <francois.marelli@idiap.ch>      <fran.marelli@gmail.com>
------------------